# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/connection_qr.png

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/*.log
mobile/*.apk
mobile/*.aab
mobile/android/
mobile/ios/
